@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap');

*{
    font-family: 'Gugi', cursive;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
}

*::selection{
    background: #FC0CA4;
    color:#fff;
}

body{
    background:#f9f9f9;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

header{
    position: fixed;
    top:0; left:0;
    width:100%;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    font-size: 2rem;
    color:#42c7ce;
}

.span{
    color:#FC0CA4;
    }

.navbar a{
        font-size: 1.5rem;
        margin-left: 2rem;
        color:#403D52;
    }

a:hover{
        color: #FC0CA4;
    }

input{
        display: none;
    }

label{
        font-size: 3rem;
        color:#403D52;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    }

section {
        min-height: 100vh;
        padding: 0 9%;
        padding-top: 10rem;
        padding-bottom: 1rem;
    }

.service  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    }

.box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    
}

.box {
    flex: 1 1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear; 
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: #403D52;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: all .3s linear; 
}

.btn-icons {
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: white;
    font-size: 2.5rem; 
}

.btn:hover {
    transform: scale(1.1);
    background: #FC0CA4; 
    color: #fff;
}

.contador{
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    color: #FC0CA4; 
    width: 30rem;
    margin: 0.2rem;
    align-items: center;
    
}

.subir {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    background-color:  white;
    border-radius: 0.6rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset -0.1rem 0.1rem 0.3rem #403D52;
}

.bajar{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: relative;
    background-color:  white;
    border-radius: 0.6rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: inset -0.1rem 0.1rem 0.3rem #403D52;
}

.Title{
    font-size: 1.8rem;
    color:#42c7ce;
}

.descripcion{
    font-size: 1.5rem;
    color:#ADADAD;
}

.precio{
    font-size: 2rem;
    color:#403D52;
    margin: 0.5rem;
}

.box img {
      height: 15rem; 
    }

.slogan {
        font-family: 'Lovers Quarrel', cursive;
        font-size: 4rem;
        color: #FC0CA4;
        padding: 1rem 0; 
    }
